<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>BoookMs</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/Navbar-With-Button-icons.css">
    <link rel="stylesheet" href="/assets/css/Pretty-Registration-Form-.css">
</head>

<body style="margin: 15px;">
<div th:replace="fragment.html :: navBar"></div>

    <div style="text-align: center;font-size: 30px;font-weight: bold;font-style: italic;box-shadow: 0px 0px;text-shadow: 5px 5px 20px;"><label class="form-label" style="background: var(--bs-warning);">Book Registration&nbsp; Details</label>
        <div class="text-start"><button class="btn btn-primary" type="button" style="border-color: var(--bs-red);background: var(--bs-info);" data-bs-target="#modal-1" data-bs-toggle="modal">ADD<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-plus" style="font-size: 17px;">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                </svg></button><input type="search" style="margin-left: 15px;height: 40px;margin-top: 50px;font-size: 15px;" placeholder="Seach "></div>
    </div>
    <div class="table-responsive" style="margin: 15px;width: auto;height: auto;">
        <table class="table">
            <thead style="background: var(--bs-teal);">
                <tr>
                    <th>ID</th>
                    <th>Author</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book :${bookList}">
                    <td th:text="${book.id}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.name}"></td>
                    <td th:text="${book.price}"></td>
                    <td><a th:href="@{/book/delete/{bookid}/(bookid=${book.id})}" class="btn btn-danger" role="button">Delete&nbsp;<i class="far fa-trash-alt"></i></a></td>
<!--                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>-->
<!--                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>-->
                            </svg></button></td>
                </tr>
                <tr></tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Register</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="padding-bottom: 16px;background: var(--bs-cyan);">
                    <section class="py-4 py-xl-5" style="width: 450px;">
                        <div class="container">
                            <div class="card mb-5">
                                <div class="card-body p-sm-5" style="background: var(--bs-yellow);">
                                    <form method="post" action="/book/" th:object="${Book}">
                                        <div class="mb-3"><input class="form-control" type="text" id="name-2" name="author" placeholder="Enter a author"></div>
                                        <div class="mb-3"><input class="form-control" type="text" name="name" placeholder="Enter a name"></div>
                                        <div class="mb-3"><input class="form-control" type="text" name="price" placeholder="Enter a price" inputmode="numeric"></div>
                                        <div style="text-align: right;"><button class="btn btn-primary" type="submit" style="margin-left: 15px;margin-right: 15px;">Submit</button><button class="btn btn-danger" type="reset" data-bs-dismiss="modal">CLear&nbsp;</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>