<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>BoookMs</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/Navbar-With-Button-icons.css">
    <link rel="stylesheet" href="/assets/css/Pretty-Registration-Form-.css">
</head>

<body>
<div th:replace="fragment.html :: navBar"></div>

    <div style="text-align: center;font-size: 35px;"><label class="form-label" style="font-size: 35px;font-weight:  margin-top:30px; bold;text-align: center;margin-top:30px; text-shadow: 0px 0px;color: var(--bs-link-color);box-shadow: 5px 5px 20px;">Welcome to Book Store</label></div>
    <div><label class="form-label" style="padding-right: 80px;padding-left: 80px;"><br><span style="color: rgb(11, 51, 84);">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; We offer a tremendous gathering of books in the various classifications of Fiction, Non-fiction, Biographies, History, Religions, Self – Help, and Children. We likewise move in immense accumulation of Investments and Management, Computers, Engineering, Medical, College, and School content references books proposed by various foundations as scheduled the nation over. Besides this, we offer an expansive gathering of E-Books at a reasonable value.</span><br><br></label></div>
    <div style="text-align: center;"><img src="/assets/img/bookstore.jpg" style="width: 600px;height: 400px;"></div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>